/* You can add global styles to this file, and also import other style files */
// $color1: '#8A716A';
// $color2: '#C2B8B2';
// $color3: '#197BBD';
// $color4: '#125E8A';
// $color5: '#8A716A';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #197bbd;
  color: #262626;
}
.home {
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
div[role='button'],
tr[role='button'] {
  cursor: pointer;
}
